@media screen and (max-width: 1140px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .row {
        flex-wrap: wrap;
        gap: 5rem;
        padding: 0 20px;
    }

    .row .col {
        width: 100%;
    }

    .row .col .card img {
        height: 250px;
    }

    .steps {
        margin-bottom: 0;
    }

    .why-us {
        padding: 3rem 0;
        margin-bottom: 0;
        background-color: #222222;
    }

    .why-us .row {
        padding: 0 2rem;
    }
}